.base-navbar
  z-index 3 !important

  .v-toolbar__title
    cursor pointer
    height 100%
    img
      height 100%
      padding 32px 0 32px 0
    span
      height 72px
      text-decoration none
      line-height 72px
