.base-navbar
  z-index 3 !important

  .v-toolbar__title
    height 100%
    img
      margin 16% 0 16% 0
      max-height 68%
    span
      height 72px
      text-decoration none
      line-height 72px
