.user-avatar
  position relative
  border-radius 50%

  img
    height 100%
    width 100%
    object-fit cover
    border-radius 50%
    overflow hidden
    background-color white

  .btn-bar
    border-radius 50%
    position absolute
    left 0
    right 0
    top 0
    bottom 0
    background rgba(0, 0, 0, 0.1)
