.basic-header
  .headers
    .header__title,.header__subtitle
      padding 0.1rem 0.8rem
    .header__title
      font-size 2.1rem
    .header__subtitle
      font-size 2.7rem
  &.large
    height 296px 
  &.medium
    height 164px
  &.small
    height 52px
  .overlay
    background-color rgba(0, 0, 0, 0.4)

