.basic-header
  .headers
    .header__title,.header__subtitle
      padding 0.1rem 0.8rem
  &.large
    height 296px 
  &.medium
    height 164px
  &.small
    height 72px
  .overlay
    background-color rgba(0, 0, 0, 0.4)

