.course-item
  min-height 200px
  max-height 400px
  overflow-y auto
  overflow-x hidden

  .layout 
    height 100%

  .v-card__title 
    .headline 
      word-spacing 100%

  .v-card__text
    text-align left
