.exam-item
  min-height 200px
  max-height 365px
  overflow hidden

  .v-card__title
    min-height 96px
    .headline
      word-spacing 100%

  .v-card__text
    text-align left
    overflow-y auto
    max-height 200px
