// variable overrides
$body-font-family= 'Roboto'
$border-radius = 18px
$card-border-radius= $border-radius
$sheet-border-radius= $border-radius

@import '~vuetify/src/stylus/main' 


// class overrides

