.cloud__contain
  position relative
  height 0
  width 0

  .cloud-div
    position absolute

  .cloud
    position: absolute;

    body(width)
      position: relative;
      height: 54px;
      width: width;
      border-radius: 32px;

    .cloud-a
      body(332px);

    .cloud-b
      body(332px);
      transform: translate(408px, 6px);

    .cloud-c
      body(232px);
      transform: translate(140px, 25px);
