// use same variables as given from vuetify, which would help override those variables as well as create classes.
$body-font-family= 'Roboto'
$border-radius = 2px
$card-border-radius= $border-radius
$sheet-border-radius= $border-radius
